body {
	background-color: black;
	font-family: "Playfair Display", serif;
	color: white
}

.main {
	height: 75%;
}

#barleft {
	float: left;
	color: white;
	margin-top: 15%;
	text-transform: uppercase;
	text-indent: 5px;
	font-family: "Nanum Myeongjo", serif;
}

#barright {
	float: right;
	text-align: right;
	margin-top: 15%;
	font-family: "Nanum Myeongjo", serif;
}

.jumbotron {
	background-color: black;
	text-align: center;
	position: absolute;
	top: 25%;
	left: 21%;
}

#titletext {
	font-size: 5em;
	letter-spacing: .2em;
	margin-top: 5px;
	text-transform: uppercase;
	font-style: italic;
}

#pretitle {
	margin-bottom: 5px;
	letter-spacing: .1em;
	font-size: 2em;
}

#discover {
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: .2em;
	font-size: 1.2em;
	color: #ffecd2;
	font-family: "Nanum Myeongjo", serif;
}

#own {
	width: .7em;
	float: left;
	padding-right: 100%;
	font-family: "Nanum Myeongjo", serif;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

hr.style-ten {
	border-top: 3px double #8c8b8b;
}

i {
	color: #ffecd2;
}

a {
	color: #ffecd2;
	margin-right: 10%;
}

#facebook {
	width: 25px;
}

#twitter {
	width: 24px;
}

#youtube {
	width: 32px;
}

#instagram {
	width: 24px;
}

#socialtext {
	padding-right: 2%;
}

#arrow {
	color: #ffecd2;
}

.thebottom {
	padding-top: 2000px;
	text-align: center;
	color: white;
	font-family: "Nanum Myeongjo", serif;
	letter-spacing: .15em;
	font-style: italic;
}

.meet {
	margin-bottom: 1000px;
}

.Characters {
	width: 40%;
	padding: 20px;
	border: 2px solid white;
	margin: 0 auto 0 auto;
	text-align: center;
	margin-bottom: 1000px;
}


.charname{
	font-family: "Great Vibes", cursive;
}

.charlyric {
	line-height: 1.3em;
}
